body{
    margin: 0;
    padding: 0;
    background:url(img/3.jpg);
    text-align: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 600px;
    
    
    
    
}

form{
    margin-top: 50px;
    width: 395px;
    height: 320px;
    background:transparent;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 4px 5px 23px 0px;
    background: black;
    opacity: .7;

    
}
h1{
    font-family:cursive;
    font-size: 60px;
    color:black;

}
td{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color:white;
    font-weight: 300;
    padding: 6px;

}



























